.webix_toolbar {
    .webix_badge {
        border: 2px solid #FFFFFF;
        box-sizing: content-box;
        background-color: #FF8C4C;
        line-height: 16px;
        min-width: auto;
        padding: 0;
        height: 16px;
        width: 16px;
    }
    &.webix_dark {
        input[type=text] {
            background:  #4A4E58;
            color: #FFFFFF;
            &::placeholder {
                color: #FFFFFF;
            }
            &:focus {
                border-color: transparent;
            }
        }
        .webix_input_icon {
            color: #FFFFFF;
        }
    }
};
